<h2>
  Login
</h2>

<form (submit) = "onSubmit()" #formData ="ngForm">

  user name:
  <input type="text" name="userName"
  required
  minlength="2"
  maxlength="24"
  [(ngModel)]="user_name"
  #userName='ngModel'><br>

  <div *ngIf=" (userName.errors && ( userName.dirty || userName.touched))"
     class="alert alert-danger">
    <div [hidden]="!userName.errors.required">
      User Name is required
    </div>
    <div [hidden]="!userName.errors.minlength">
      User Name must be at least 2 characters long.
    </div>
    <div [hidden]="!userName.errors.maxlength">
      User Name cannot be more than 24 characters long.
    </div>
 </div>

 <input type="submit" [disabled]="!formData.form.valid">
  
</form>